body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,p {
	margin: 0;
	padding: 0;
	color: black;
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
input,img {
	outline-style: none;
	vertical-align: middle;
	margin: 0;
	border: 0 none;
	padding: 0;
}
.w {
	width: 1100px;
	margin: 0 auto;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}